* {
    /* border: .50px solid red; */
    background-color: #F0EFEA;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  /* font-weight: <weight>; */
    font-style: normal;
}

h1 {
    font-weight: lighter;
    font-style: italic;
}

nav {
    box-shadow: 0 1px gray;
    padding: .50rem;
    display: flex;
    flex-direction: row;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: left;
}

.logo {
    display: flex;
}

.logo img {
    height: 5rem;
}

.nav-list-elements {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    margin: 0;
}

